.flex-upload{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.flex-upload input{
  width: 600px;
  height:50px;
  padding-left:30px;
  font-size: large;
  margin-top: 50px;
  border-bottom: solid 2px lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px ;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px ;
}

.flex-upload button{
  width: 636px;
  height:50px;
  margin-top: 50px;
  font-size: larger;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px ;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px ;
  border-bottom: solid 2px lightgray;
  border-top: none;
  border-left: none;
  border-right: none;
}
