.flex-search {
    display:flex;
    justify-content: center;
}

.searchBar{
    width: 600px;
    height:50px;
    padding-left:30px;
    font-size: large;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
    border-bottom: solid 2px lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
}


.search-submit{
    font-size: large;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    border-bottom: solid 2px gray;
    border-top: none;
    border-left: none;
    border-right: none;
}